* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: monospace;
  /* border: solid red 0.5px; */
}

header {
  background: #2d2e32;
  width: 100%;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  align-items: center;
}

.name {
  cursor: pointer;
  font-size: 20px;
  margin-left: 100px;
}

.first-name {
  color: white;
  font-weight: 700;
  font-size: 25px;
}

.second-name {
  color: #d9d9d9;
  font-weight: 100;
  font-size: 25px;
}

.row1-ul {
  display: flex;
  gap: 35px;
  font-size: 15px;
}

a.nav-a {
  color: white;
  transition: 0.5s;
}

a.nav-a:hover {
  color: #64f3aa;
  text-align: center;
}

.nav-li {
  transition: 0.5s;
}

.nav-li:hover {
  background-color: #1b1c1e;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.nav-s {
  color: #64f3aa;
  transition: 0.5s;
}

.nav-s:hover {
  color: white;
}

.nav-li-s {
  transition: 0.5s;
}

.nav-li-s:hover {
  background-color: #1b1c1e;
  width: 110px;
  height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.nav-li-t {
  transition: 0.5s;
}

.nav-li-t:hover {
  background-color: #1b1c1e;
  width: 120px;
  height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.braket {
  transition: 0.5s;
}

.braket:hover {
  color: #64f3aa;
}

.row1-nav {
  padding-right: 80px;
}

.row2-nav {
  display: flex;
  margin-right: 130px;
  align-items: center;
  gap: 30px;
}

.nav-twitter {
  width: 30px;
}

.nav-github {
  width: 29px;
}

.nav-mail {
  width: 30px;
  padding-left: 6px;
}

.icon-twitter,
.icon-github {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #e8e8e8;
  gap: 6px;
}

.icon-mail {
  background: #64f3aa;
  width: 42px;
  height: 40px;
  border-radius: 33px;
  display: flex;
  align-items: center;
}

.header-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  align-items: center;
  gap: 60px;
}

.header-col {
  font-family: monospace !important;
  color: white;
}

.header-col-first-p {
  color: black;
  text-align: center;
  display: flex;
  font-size: 14px;
  align-items: center;
  font-weight: lighter;
  font-family: monospace;
}

.first-p-cnt {
  background: #64f3aa;
  width: 47%;
  height: 23px;
  text-align: center;
  display: flex;
  align-items: center;
}

.talk-is-cheap {
  margin-top: 20px;
  font-family: monospace;
  font-size: 40px;
}

.header-col-second-p {
  font-family: monospace;
  margin-top: 20px;
}

.lets-chat {
  font-family: monospace;
  margin-top: 70px;
  color: #64f3aa;
  text-decoration: underline;
}

.header-gif {
  width: 13%;
  margin-left: 20px;
  margin-top: 20px;
}

.branch-icon,
.target-icon,
.code-icon {
  width: 6%;
}

.card1,
.card2,
.card3 {
  display: flex;
  background: #2d2e32;
  margin-top: 20px;
  border-radius: 6px;
  justify-content: space-around;
  height: 140px;
  font-family: monospace;
  align-items: center;
  box-shadow: #1b1c1e 0px 25px 30px;
  transition: 0.5s;
}

.card1 {
  transition: 0.5s;
}

.card2 {
  transition: 0.5s;
}

.card3 {
  transition: 0.5s;
}

.card1:hover {
  width: 70%;
}

.card2:hover {
  width: 70%;
}

.card3:hover {
  width: 70%;
}

main {
  background: #25262a;
  display: flex;
  flex-direction: column;
}

#main-col1 {
  display: flex;
  background: #25262a;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin-top: 120px;
  margin-left: 80px;
}

.lets-chat-a {
  color: #64f3aa;
}

.design {
  color: #64f3aa;
  font-family: monospace;
  font-size: 25px;
}

.cards-cnt{
  width: 500px;
}

.card1-p {
  font-family: monospace;
  color: white;
  margin-top: 5px;
}

.card1-projects {
  font-family: monospace;
  color: white;
  margin-top: 15px;
}

.frontend {
  color: white;
  font-family: monospace;
  font-size: 25px;
}

.card2-p {
  font-family: monospace;
  color: white;
  margin-top: 5px;
}

.card2-projects {
  font-family: monospace;
  color: white;
  margin-top: 15px;
}

.seo {
  color: white;
  font-family: monospace;
  font-size: 25px;
}

.card3-p {
  font-family: monospace;
  color: white;
  margin-top: 5px;
}

.card3-projects {
  font-family: monospace;
  color: white;
  margin-top: 15px;
}

.card3-row1 {
  margin-right: 40px;
  width: 270px;
}

.col1-article {
  color: white;
  width: 465px;
}

.intro {
  margin-top: 0px;
  font-family: monospace;
  font-size: 13px;
  font-weight: 100;
  color: #5f6064;
}

.hello {
  margin-top: 15px;
  font-family: monospace;
  font-size: 28px;
}

.every {
  margin-top: 22px;
  font-family: monospace;
  font-size: 16px;
  font-style: italic;
  color: #fcfcfc;
}

.since {
  font-family: monospace;
  margin-top: 22px;
  color: #4b4c50;
  font-size: 13px;
  line-height: 2;
  width: 73%;
  text-align: justify;
}

.fylo {
  width: 20%;
}

.easybank {
  width: 20%;
}

.huddle {
  width: 20%;
}

#main-col2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  gap: 220px;
  height: 950px;
}

.works-row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.works-row2 {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.twitter-a {
  color: white;
}

.twitter-a:hover {
  color: #64f3aa;
}

.github-a {
  color: white;
  cursor: pointer;
}

.github-a:hover {
  color: #64f3aa;
}

.latest {
  margin-top: -106px;
  color: white;
  font-size: 32px;
  cursor: pointer;
}

.latest:hover {
  color: #64f3aa;
}

.perfect {
  color: #5f6064;
  font-size: 13px;
}

.lewis {
  margin-top: 30px;
  width: 123%;
  border-radius: 15px;
  box-shadow: black 0px 0px 42px;
  transition: 0.5s;
}

.lewis:hover {
  width: 150%;
}

.works-title {
  text-align: start;
}

.all-p {
  text-align: start;
  margin-top: 70px;
}

.finaco {
  border-radius: 15px;
  width: 350px;
  height: 330px;
  box-shadow: black 0px 0px 42px;
  transition: 0.5s;
}

.finaco:hover {
  width: 400px;
  height: 350px;
  transition: 0.5s;
}

.focus {
  width: 350px;
  height: 350px;
  border-radius: 15px;
  box-shadow: black 0px 0px 42px;
  transition: 0.5s;
}

.focus:hover {
  width: 400px;
  height: 360px;
}

.all {
  font-size: 17px;
  text-decoration: underline;
  color: #64f3aa;
}

.some-pro {
  margin-top: 60px;
  color: #5f6064;
}

.all-contact {
  color: #64f3aa;
  text-decoration: underline;
}

#testimonial {
  background: #2d2e32;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 580px;
}

.testimonial-cnt {
  width: 900px;
}

.t-heading {
  display: flex;
  margin-top: 115px;
  gap: 100px;
  align-items: baseline;
}

.t-title {
  color: white;
  font-size: 26px;
  font-weight: 100;
}

.t-subtitle {
  color: #5f6064;
}

.comment-box {
  display: flex;
  background: #25262a;
  box-shadow: 15px;
  width: 800px;
  margin-top: 40px;
  height: 190px;
}

.quote {
  width: 5%;
  margin-bottom: 55px;
  margin-left: 20px;
}

.star-icon {
  width: 10%;
}

.star-rate {
  display: flex;
  margin-top: 50px;
  margin-left: 40px;
}

.review {
  margin-top: 10px;
  margin-left: 40px;
  color: white;
  font-size: 17px;
  line-height: 24.5px;
}

.rate {
  margin-right: 200px;
  color: #5f6064;
}

.saying_hi {
  color: #64f3aa;
}

.star {
  width: 116px;
}

.profiles {
  display: flex;
  align-items: start;
  text-align: start;
  gap: 80px;
  margin-top: 20px;
}

.profile1-name,
.profile2-name,
.profile3-name {
  color: white;
  font-size: 16px;
}

.profile1-position,
.profile2-position,
.profile3-position {
  color: #5f6064;
}

.wiser,
.focuslab,
.logan {
  color: #64f3aa;
}

.profile1-hr,
.profile2-hr,
.profile3-hr {
  color: #5f6064;
  margin-top: 20px;
  width: 190px;
}

.hr-line {
  display: flex;
  margin-top: 30px;
}

.hr1 {
  width: 210px;
  height: 2px;
  background-color: #64f3aa;
}

.hr2 {
  width: 588px;
  height: 2px;
  background-color: #5f6064;
}

footer {
  background: #1b1c1e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 440px;
}

.footer-inner {
  display: flex;
  justify-content: center;
  gap: 330px;
  margin-top: 10px;
}

.lets-make {
  color: white;
  font-size: 27px;
  font-weight: 100;
}

.start-by {
  color: white;
  font-size: 27px;
  margin-top: 30px;
  font-weight: 100;
}

.say-hi {
  color: #64f3aa;
  text-decoration: underline;
}

.ft-name-copyright {
  display: flex;
  gap: 50px;
  align-items: baseline;
  margin-top: 180px;
}

.ft-name {
  color: white;
  font-size: 19px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.scnd-name {
  color: #d9d9d9;
  font-weight: 100;
  font-family: "Courier New", Courier, monospace;
}

.copyright {
  color: #5f6064;
}

.information {
  color: #5f6064;
  font-size: 12px;
}

address {
  color: #5f6064;
  margin-top: 20px;
  font-size: 18px;
}

.helloio, .helloio-a {
  color: white;
  font-size: 30px;
  margin-top: 10px;
  font-weight: 100;
}

.footer-ul {
  margin-top: 45px;
}

.footer-li,
.footer-a,
.footer-s {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  color: white;
}

.footer-s {
  color: #64f3aa;
}

.footer-icons {
  display: flex;
  gap: 15px;
  margin-top: 70px;
}

.footer-twitter,
.footer-github,
.footer-fb,
.footer-ig {
  width: 17px;
}

@media screen and (max-width: 375px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    width: 100%;
  }

  header {
    width: 251%;
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
  }

  .name {
    width: 310px;
    margin: 0;
  }

  .header-content {
    display: flex;
    align-items: center;
    gap: 121px;
    flex-direction: column-reverse;
    width: 100%;
    margin-top: 50px;
  }

  .first-p-cnt {
    width: 75%;
    height: auto;
  }

  .header-col {
    width: 89%;
    display: flex;
    text-align: center;
    margin-top: 50px;
    height: 950px;
    flex-direction: column;
    align-items: center;
  }

  .header-col-first-p {
    font-size: 56px;
  }

  .talk-is-cheap {
    margin-top: 60px;
    font-family: monospace;
    font-size: 95px;
  }

  .header-col-second-p {
    font-size: 36px;
    margin-top: 22px;
  }

  .lets-chat {
    font-size: 50px;
    font-family: monospace;
    margin-top: 80px;
    color: #64f3aa;
    text-decoration: underline;
  }

  .header-gif {
    display: flex;
    width: 50%;
  }

  .row1-nav {
    display: none;
  }

  .first-name,
  .second-name {
    font-size: 63px;
    font-weight: 900;
  }

  .icon-twitter,
  .icon-github {
    width: 30%;
  }

  .icon-mail {
    /* background: #64f3aa;
    width: 113px;
    height: 112px;
    border-radius: 106px;
    display: flex;
    align-items: center;
    justify-content: center; */
    display: none;
  }

  .row2-nav {
    display: flex;
    flex-direction: row;
    width: 378px;
    gap: 137px;
    margin: 0;
  }

  .icon-twitter,
  .icon-github {
    width: 70px;
  }

  .twitter,
  .github {
    font-size: 30px;
  }

  .nav-twitter,
  .nav-github {
    width: 53px;
  }

  .nav-mail {
    width: 84px;
    padding: 0;
  }

  main {
    display: flex;
    width: 251%;
    gap: 557px;
    min-height: 5300px;
  }

  #main-col1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 200px;
    margin-left: 0;
  }

  #main-col2 {
    display: flex;
    flex-direction: column;
    gap: 90px;
    margin-top: 400px;
  }

  #testimonial {
    height: 1300px;
    width: 251%;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .testimonial-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .t-heading {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    gap: 0;
  }

  .t-title {
    font-size: 62px;
  }

  .t-subtitle {
    font-size: 30px;
  }

  .comment-box {
    height: 640px;
    align-items: center;
    justify-content: center;
    width: 850px;
    margin-top: 100px;
  }

  .rating {
    margin: 0;
    width: 80%;
  }

  .star-rate {
    margin: 0;
  }

  .review {
    margin: 0;
    font-size: 49px;
    line-height: 50px;
    text-align: initial;
    margin-top: 38px;
  }

  .star-icon {
    width: 15%;
  }

  .star {
    width: 250px;
    display: flex;
    align-items: center;
  }

  .quote {
    width: 10%;
    margin-bottom: 330px;
    margin-left: 20px;
  }

  .rate {
    font-size: 30px;
  }

  .profiles {
    margin-top: 80px;
    gap: 20px;
    margin-left: 59px;
  }

  .profile1,
  .profile2,
  .profile3 {
    width: auto;
    height: auto;
  }

  .profile1-name,
  .profile2-name,
  .profile3-name {
    font-size: 29px;
  }

  .profile1-position,
  .profile2-position,
  .profile3-position {
    font-size: 25px;
  }

  footer {
    width: 251%;
    height: 1400px;
    margin: 0;
    display: flex;
    text-align: left;
    align-items: center !important;
    justify-content: center;
    padding: 0;
  }

  .footer-inner {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: auto;
    align-items: initial;
    text-align: left;
    /* justify-content: center; */
    margin: 0;
    gap: 0;
    margin-top: 65px;
  }

  .footer_cnt_inner {
    display: flex;
    flex-direction: column-reverse;
  }

  .ft-name-copyright {
    /* align-items: center;
    gap: 0;
    display: block;
    margin: 0; */
    display: none;
  }

  address {
    font-size: 30px;
    color: #d9d9d9;
    margin-top: 45px;
  }

  .footer-ul {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    gap: 30px;
  }

  .helloio, .helloio-a {
    font-size: 50px;
    color: #64f3aa;
    margin-top: 85px;
  }

  .footer-icons {
    display: block;
    margin-top: 200px;
  }

  .lets-make {
    font-size: 55px;
  }

  .start-by {
    font-size: 40px;
    margin-top: 50px;
  }

  .saying_hi {
    color: #64f3aa;
  }

  .footer-s,
  .footer-li {
    font-size: 42px;
  }

  .footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .footer-twitter,
  .footer-github,
  .footer-fb,
  .footer-ig {
    width: 80px;
  }

  .col1-article {
    margin-top: 85px;
    text-align: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .intro {
    font-size: 55px;
  }

  .hello {
    font-size: 67px;
  }

  .every {
    font-size: 34px;
  }

  .since {
    font-size: 28px;
    color: #d9d9d9;
    line-height: 2.5;
    width: 90%;

  }

  .cards-cnt {
    width: 78% !important;
    display: flex;
    height: auto;
    flex-direction: column;
    gap: 50px;
  }

  .card1,
  .card2,
  .card3 {
    height: 300px;
    display: flex;
    align-items: center;
  }

  .card1-row1,
  .card2-row1,
  .card3-row1 {
    width: 58%;
  }

  .design,
  .frontend,
  .seo {
    font-size: 60px;
  }

  .frontend:hover {
    font-size: 20px;
  }

  .card1-p,
  .card2-p,
  .card3-p {
    font-size: 28px;
  }

  .card1-projects,
  .card2-projects,
  .card3-projects {
    font-size: 36px;
  }

  .branch-icon,
  .code-icon,
  .target-icon {
    width: 11%;
  }

  .works-row1 {
    width: 57%;
  }

  .latest {
    font-size: 73px;
  }

  .perfect {
    font-size: 36px;
    margin-top: 30px;
  }

  .lewis {
    margin-top: 120px;
  }

  .finaco {
    margin-top: 30px;
    width: 123%;
    height: 600px;
    border-radius: 15px;
    box-shadow: black 0px 0px 42px;
    transition: 0.5s;
  }

  .focus {
    margin-top: 30px;
    width: 123%;
    height: 600px;
    border-radius: 15px;
    box-shadow: black 0px 0px 42px;
    transition: 0.5s;
  }

  .focus:hover {
    width: 140%;
    height: 700px;
  }

  .finaco:hover {
    width: 140%;
    height: 700px;
  }

  /* .lewis {
    margin-top: 30px;
    width: 123%;
    border-radius: 15px;
    box-shadow: black 0px 0px 42px;
    transition: 0.5s;
  }
  
  .lewis:hover {
    width: 150%;
  } */

  .works-row2 {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}